button {
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: lightblue;
  border-radius: 10px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  background-color: lightblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
